DATABASE_URL=postgresql://postgres:postgres@localhost:5432/att_crms
RECORDINGS_PATH=
SEED_SUPERADMIN_EMAIL=
SEED_SUPERADMIN_PASSWORD=
SEED_SUPERADMIN_NAME=
NEXT_PUBLIC_SERVER_URL=http://localhost:3000
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
SITE_MAILER_HOST=
SITE_MAILER_PORT=
SITE_MAILER_EMAIL=
SITE_MAILER_PASSWORD=
PORT=3000